*{
	padding: 0;
	margin: 0;
}
html,body{
	height:100%;
}
body{
	 font-family: "微软雅黑";
}
ul ,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*大容器*/
.main{
	width:100%; 
    height:100%;
    background-size:cover ;
    /*overflow: hidden;*/
   overflow-x: hidden;
   overflow-y: auto;
   background-color: #d85744;
}
/*右上角*/
.rightTop{
	position: absolute;
	top: 10px;
	right: 0px;
	width: 110px;
	height: 50px;
	color: #f8c8c3;
	font-size: 0.6em;
	background: url(../img/yuanj.png);
	background-size:100% 100% ;
	z-index: 100;
}
.rightTopb{
	margin: auto;
	text-align: center;
	margin-top: 5px;
}
.rightTop img:nth-child(1){
	width: 15%;
	position: relative;
	top: 2px;
}

/*头部*/
.top{
	color: white;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 2%;
}
.top p{
	margin-top: 1px;
}
.topImg{
	width: 50px;
	height: 50px;
	border-radius:50% ;
	-webkit-border-radius:50% ;
}
.top p:nth-child(1)
   {
	font-size: 1.0em;
	text-align: left;
	}
.top p:nth-child(2)
   {
	color:#f8c8c3;
	font-size: 0.8em;
	text-align: left;
	}
.topRight{
	display: inline-block;
	position: relative;
    top: -11px;
}
/*打赏链接*/
.link p:nth-child(1){
	color:#f8c8c3;
	margin-left: 9%;
	margin-bottom: 2px;
	font-size: 0.9em;
}
.link p:nth-of-type(2){
	color:#f8c8c3;
	margin-left: 9%;
	margin-top: 2px;
	font-size: 0.9em;
}
 input:focus{
	outline:0 !important;
	}
input{ 
	border: none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -webkit-appearance: none;
            }
.copy{
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
}
.copy span:nth-child(1){
	display: inline-block;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
    width:65% ;
    text-align: left;
   
}
.copy span:nth-child(2){
	display: inline-block;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #fffb9b;
    width:14% ;
    padding: 7px ;
    margin-left: 1%;
    text-align: center;
    position: relative;
    top: 1px;
   
}
.copy span input{
	border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
    padding: 10px ;
    width: 90%;
}

.twoCode{
	margin: 10px auto;
	text-align: center;
	color: #373636;
}
.twoCode span:nth-child(1){
	display: inline-block;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #fffb9b;
    width:50% ;
    padding: 7px ;
    margin-left: 1%;
    text-align: center;
}
.ImgTitle{
	margin-left: 4px;
}
.twoCode span  img{
	width: 20px;
	position: relative;
    top: 4px;
}
.depict{
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	color: #373636;
}
.depict span:nth-child(1){
	display: inline-block;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #fffb9b;
    width:50% ;
    padding: 7px ;
    margin-left: 1%;
    text-align: center;
}
.depictImg{
	margin-left: 4px;
}
.depict span  img{
	width: 20px;
	position: relative;
    top: 4px;
}
/*弹框*/
.mark{
	background-color: #222222;
	opacity: 0.7;
	width: 100%;
	height: 1000px !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}
.description{
	background-color: white;
	color: #373636;
	width: 88%;
	text-align: left;
	position: fixed;
	z-index: 10003;
	top:100px ;
	padding-bottom: 20px;
	padding-top: 20px;
	left:6%;
	display: none;
	
}
.description p{
	border-bottom: 1px solid #c6c6c6;
	margin-bottom: 10px;
	
}
.description input{
	background-color: #fff;
	color: #373636;
	display: inline-block;
	width: 80%;
	height: 39px;
	line-height: 39px;
	background-color:white ;
}
.depictTip{
	background-color: #fff;
	color: #373636;
	width: 70%;
	text-align: center;
	position: fixed;
	z-index: 10005;
	top:260px ;
	padding-bottom: 20px;
	padding-top: 20px;
	left:15%;
	display: none;
}
.tishi{
	background-color: #fff;
	color: #373636;
	width: 70%;
	text-align: center;
	position: fixed;
	z-index: 10001;
	top:100px ;
	padding-bottom: 20px;
	padding-top: 20px;
	left:15%;
	display: none;
}
.tishi p{
	margin-bottom: 16px;
}
.close{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #d85744;
	text-align: center;
	width: 15px;
	height: 15px;
    line-height: 12px;
	border: 1px solid  #d85744;
	border-radius:50% ;
	-webkit-border-radius:50% ;
	padding: 3px;
}
.sure{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:  #d85744;
    color: white;
    padding: 5px 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.sure1{
	text-align: center;
	margin: auto;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:  #d85744;
    color: white;
    padding: 5px 8px;
    margin-left: 40%;
}
/*分割线*/
.divides {
	margin: 0px auto;
	text-align: center;
	color: white;
	font-size: 5.0vw;
	margin-top: 10px;
	margin-bottom: 5px;
	white-space: nowrap;
}
.divideImg{
	width: 50px;
	height: 1px;
	vertical-align: middle;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
}
/*交易记录*/
.record{
	margin: 0 auto;
	text-align: center;
	height: 100%;
    overflow: scroll;
    padding-bottom: 50vw;
    box-sizing: border-box;
}
.record li{
	border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
    width: 90%;
    margin:10px auto;
	text-align: center;
	height: 80px;
}

.record li:before{
	clear: both;
	height: 0;
}
.recordImg{
	float: left;
    position: relative;
    top: 15px;
    border-radius:50% ;
	-webkit-border-radius:50% ;
    margin-left: 2vw;
}
.recordImg img{
	width: 50px;
	height: 50px;
	border-radius:50% ;
	-webkit-border-radius:50% ;
}
.recordInfo{
	float: left;
    text-align: left;
    position: relative;
    top: 15px;
    left: 2.4em;
}

.recordInfo p:nth-child(1){
	color: #d85946;
	font-size: 1.2em;
}
.recordInfo p:nth-child(2){
	font-size: 0.7em;
	position: relative;
    top: 4px;
}
.recordM{
	float: right;
	position: relative;
    top: 23px;
    font-size: 1.5em;
    margin-right: 2vw;
}
